{% extends "layout.html" %}

{% block main %}


            <div class="card mx-auto w-75 shadow p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <h2 class="card-title">Welcome</h2>
                    <p class="card-text">BOOFIA HELPER APP</p>
                    <a href="/login" class="btn btn-danger">Login</a>
<!--                     <p class="text-muted small">Not registered? <a href="/register">Register here</a></p> -->
                </div>
            </div>


{% endblock %}