{% extends "layout.html" %}

{% block title %}
    MEEZ BOOFIA
{% endblock %}

{% block main %}

<div class="text-center"><h3>MEEZ BOOFIA<br><b class="text-danger">همبرجر ميز</b></h3></div>

<div class="card-deck">
  <div class="card shadow p-3 mb-5 bg-white rounded">
    <img src="/static/menu.jpeg" class="card-img" alt="Meez Menu">
  </div>
  
  <div class="card shadow p-3 mb-5 bg-white rounded justify-content-center align-items-center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14285.662889322623!2d50.0392555!3d26.4745564!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4d7396966c28a64!2sBURGER%20MEEZ!5e0!3m2!1sen!2sin!4v1648950381656!5m2!1sen!2sin" width="300" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>


<a href="https://api.whatsapp.com/send?phone=+966559322159&text=Hello%20Meez%20Boofia!" class="float" target="_blank">
<i class="fa fa-whatsapp my-float"></i>
</a>
{% endblock %}